* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  position: relative;
  height: 75px;
  background: #f2edd7;
  justify-content: space-between;
  overflow: hidden;
}
header img {
  width: 200px;
  height: 75px;
  padding: 5px;
  object-fit: fill;
}
header nav ul li{
  display: inline-block;
  text-size: 15px;
  padding: 5px;
  margin-top: 25px;
  margin-right: 50px;
  
}
nav ul li a{
  list-style: none;
  text-decoration: none;
  color: #3a6351;
}
main{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(carParts.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
main h2{
  position: absolute;
  text-align: center;
  margin: 20% 0 0 40%;
  color: white;
  font-size: 30px;
}
main > p {
  position: absolute;
  width: 500px;
  height: 120px;
  background-color: hsla(120,100%,75%,0.2);
  margin-top: 25%; 
  margin-left: 35%;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}
footer{
  position: relative;
  width: 100vw;
  height: 200px;
  background: #3a6351;
}
footer ul{
  text-align: center;
}
footer ul li{
  display: inline-block;
  margin: 30px 175px 0 175px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
footer p{
  text-align: center;
  margin-top: 80px;
  margin-left: 25px;
}